# Docker
# Con este Pipeline se va a construir un contenedor desde el código fuente de la aplicación.

trigger: none # Disable CI triggers.
#- master

resources:
- repo: self

variables:
# a regular variable
- name: dockerfilePath
  value: '$(Build.SourcesDirectory)/Dockerfile'
- name: tag
  value: '$(Build.BuildId)'
- name: vmImageName
  value: 'ubuntu-latest'
# a variable group
- group: Mis_Variables

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(WEBAPP_NAME)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(ACR_Conn)
        tags: |
          $(tag)
